{% extends 'livraria/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <br>
        <h2>Adicionar novo livro</h2>
        <form method="POST" class="table" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    {% else %}
        <br><br>
        <h4 style="text-align: center; color: red;">&nbsp;&nbsp;Você precisa realizar o login <br>para cadastrar um livro!</h4>
    {% endif %}
    
{% endblock %}