{% extends 'livraria/base.html' %}

{% block content %}
    <br>
    <h3>Lista de livros</h3>
    {% for livro in livros %}

        Nome: {{ livro.nome }} <br>
        Código: {{ livro.codigo }} <br>
        <a href="{% url 'detalhar_livro' id=livro.id %}">
            <img height="300" width="200" src="{{ livro.imagem.url }}">
        </a> <br>
        Valor: R${{ livro.valor }} <br>
        Autores: <br>
            {% for nome in livro.autor.all %}
                {{ nome }}<br>
            {% endfor %}
        Ano: {{ livro.ano }} <br><br>

    {% endfor %}
{% endblock %}